:root {
  --site-theme-primary: #69C8FF;
  --site-theme-accent: #9938FF;
  --site-theme-background: #BE80FF;
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color: var(--site-theme-primary);
  --md-primary-fg-color--light: #8bd6ff;
  --md-primary-fg-color--dark: #45b9ff;
  --md-accent-fg-color: var(--site-theme-accent);
  --md-default-bg-color: var(--site-theme-background);
}

[data-md-color-scheme="default"] .md-content,
[data-md-color-scheme="default"] .md-sidebar,
[data-md-color-scheme="default"] .md-header,
[data-md-color-scheme="default"] .md-tabs {
  background-color: transparent;
}
