:root {
  --site-theme-primary: #8c63d9;
  --site-theme-accent: #b46bff;
  --site-theme-background: #f0deff;
  --site-theme-sidebar: #ead8ff;
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color: var(--site-theme-primary);
  --md-primary-fg-color--light: #a985e6;
  --md-primary-fg-color--dark: #6f47bb;
  --md-accent-fg-color: var(--site-theme-accent);
  --md-default-bg-color: var(--site-theme-background);
}

[data-md-color-scheme="default"] .md-content {
  background-color: transparent;
}

[data-md-color-scheme="default"] .md-sidebar,
[data-md-color-scheme="default"] .md-sidebar__scrollwrap {
  background-color: var(--site-theme-sidebar);
}
